.padded {
  margin-right: 4px;
}

.label-current-state {
  font-size: 1em;
  margin-bottom: .25em;
}

a.story-link {
  color: #0000ee;
}

.button-group {
  margin-bottom: 4px;
}

.group-label {
  display: inline-block;
}

.close-icon:hover {
  color: black;
}

.delete-indicator:hover {
  background-color: #d9534f;
}
