<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container ng-cloak">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert" ng-show="showSuccessMessage">Pivotal Tracker configuration updated</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Bulk Labeler</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="saveConfig(form)" novalidate>

        <div class="form-group">
          <label>Project</label>
          <select ng-model="selectedProject" ng-change="projectSelected(selectedProject)">
            <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
          </select>
        </div>

        <div class="form-group" ng-show="selectedProject && stories && stories.length">
          <label>State Filter</label>
          <select ng-model="selectedState" ng-change="stateSelected(selectedState)">
            <option>unscheduled</option>
            <option>unstarted</option>
            <option>started</option>
            <option>finished</option>
            <option>delivered</option>
            <option>accepted</option>
            <option>rejected</option>
          </select>

          <label>Label Filter</label>
          <select ng-model="selectedLabel" ng-change="labelSelected(selectedLabel)">
            <option ng-repeat="label in labels" value="{{label.name}}">{{label.name}}</option>
          </select>
        </div>

        <div ng-repeat="story in stories">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><input type="checkbox" />
                <a class="story-link" target="_blank" ng-href="{{story.url}}">{{story.id}} &mdash; {{story.name}}</a></h3>
            </div>
            <div class="panel-body">
              <div>
                <span class="label label-success label-current-state">{{story.current_state}}</span>
              </div>
              <div>
                <span ng-repeat="label in story.labels" class="label label-info padded">{{label.name}}</span>
              </div>
              <div>
                <label>Type: </label> <strong>{{story.story_type}}</strong>
              </div>
              <div ng-show="story.story_type === 'feature'">
                <label>Story Points: </label> <strong>{{story.estimate}}</strong>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
