<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container ng-cloak">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert" ng-show="showSuccessMessage">Pivotal Tracker configuration updated</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Bulk Labeler</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="saveConfig(form)" novalidate>

        <div class="form-group">
          <label>Project</label>
          <select ng-model="selectedProject" ng-change="projectSelected(selectedProject)">
            <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
          </select>
        </div>

        <pre ng-repeat="story in stories">
          <span ng-bind="story.name"></span>
        </pre>

      </form>
    </div>
  </div>
  <hr>
</div>
